/*
  Import files
  --------------------------------
*/
@import "base/variables";
@import "base/mixin";
@import "base/general";


/*
  Header
  --------------------------------
*/
.navbar {
  .navbar-nav {
    @media (min-width: 768px) {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
    }
  }
  &.navbar-desktop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    .nav-box {
      & > img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
    .logo-bg {
      height: 70%;
      place-self: end;
      @media (min-width: 768px) and (max-width: 991px) {
        height: 45%;
      }
    }
    .nav-link i {
      color: $white;
    }
  }
  &.navbar-mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    .nav-box {
      & > img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
    .nav-item {
      &.active {
        .nav-link { color: $green; }
      }
      .nav-link { color: $white; }
      &:last-child {
        margin-bottom: 1rem;
      }
    }
    .navbar-nav.custom-navbar-social {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      .nav-item:last-child {
        margin-bottom: 0;
      }
    }
    .logo-bg { width: 25%; }
  }
  .facebook-icon:hover i,
  .linkedin-icon:hover i,
  .slack-icon:hover i,
  .twitter-icon:hover i {
    @include animate( all, .3s );
    color: $green;
  }

  .left_menu {
    li.nav-item:first-child { margin-left: 0; }
  }

  .right_menu {
    li.nav-item:last-child { margin-right: 0; }
  }

  .language_menu li.nav-item {
    font-size: 1.4rem;
    a { color: $white; }
    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 1.2rem;
    }
  }

  .left_menu li.nav-item,
  .right_menu li.nav-item {
    font-size: 1.5rem; margin: 0 auto; position: relative;
    a { color: $white; }
    @media (min-width: 768px) and (max-width: 992px) {
      font-size: 1.2rem;
    }
  }

  .language_menu li.nav-item:hover a,
  .language_menu li.nav-item.active a,
  .left_menu .nav-item:hover a,
  .left_menu .nav-item.active a,
  .right_menu .nav-item:hover a,
  .right_menu .nav-item.active a {
    color: $green;
  }
}


/*
  Landing Page Front Page
  -----------------------------------------
 */
.landing-page {
  width: 100vw;
  height: 100vh;
  background: url("../images/all/landing-page-background.jpg") center center no-repeat;
  @include backgroundSize(cover);
  position: relative;
  & > h2 {
    font-size: 3.8vw;
    padding-left: 5%;
    width: 70%;
    color: $black !important;
    opacity: .6;
    @media (max-width: 767px) {
      font-size: 6vw;
    }
  }
  .landing-page-sidebar {
    top: 0;
    width: 30%;
    height: 100%;
    .landing-sidebar-logo,
    .landing-sidebar-navigate {
      height: 50%;
      display: grid;
      place-content: center;
    }
    .sidebar-navigate-home {
      position: relative;
      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        background: url("../images/icons/white-Header-Left.png") center center no-repeat;
        @include backgroundSize( contain );
        width: 15%;
        height: 50px;
        top: -2px;
        left: 45px;
        @media (min-width: 768px) and (max-width: 991px) {
          top: 0;
          left: 40px;
        }
      }
    }
    .sidebar-navigate-contact {
      border: 4px solid $white;
      border-radius: 20px;
      padding-top: .8rem;
      padding-bottom: .8rem;
      width: 80%;
      @media (min-width: 768px) and (max-width: 991px) {
        padding-top: 0;
        a {
          vertical-align: middle;
        }
      }
    }
    a { font-size: 2.4vw; color: $white ; text-decoration: none; @include animate(all, .5s);
      &:hover { color: #aaa; }
    }
  }
  .landing-page-sidebar-mobile {
    left: 0;
    .sidebar-navigate-contact {
      @media (min-width: 576px) and (max-width: 767px) {
        border: 4px solid $white;
        border-radius: 20px;
        //padding-top: .8rem;
        padding-bottom: .8rem;
        width: 80%;
        padding-top: 0;
        a {
          vertical-align: middle;
        }
      }
    }
    a { font-size: 3vw; color: $white ; text-decoration: none; @include animate(all, .5s);
      &:hover { color: #aaa; }
      @media (max-width: 575px) {
        font-size: 3.5vw;
      }
    }
  }
  .landing-page-sidebar,
  .landing-page-sidebar-mobile {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $sea-blue;
  }
}




/*
  Home Page
  --------------------------------
*/
article { padding: 100px 0;
  @media (max-width: 575px) {
    padding: 50px 0;
  }
}
article.services {
  @include animate( all, .5s);
  background: url("../images/icons/Slider.gif") center center no-repeat;
  @include backgroundSize(cover);
  height: 120vh;
  padding: 0;
  color: $white;
  text-align: center;
  @media (max-width: 575px) {
    height: 130vh;
  }
  .service-box {
    h4 {
      @media (max-width: 575px) {
        font-size: 1.1rem;
      }
    }
    p { display: none; }
  }
}
article.yes-user-company {
  span { font-size: 1rem; }
  .yes-user-desc { font-size: 1.8rem;
    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 1.6rem;
      word-break: break-all;
    }
    @media (min-width: 576px) and (max-width: 767px) {
      font-size: 1.5rem;
    }
    @media (max-width: 575px) {
      font-size: 1.3rem;
    }
  }
}
article.deliver-service {
  .col-12.col-sm-6:not(:first-child) {
    @media (min-width: 992px) {
      padding-left: 0;
    }
  }
  h2 {
    @media (min-width: 576px) and (max-width: 767px) {
      font-size: 1.8rem;
    }
    @media (max-width: 575px) {
      font-size: 1.5rem;
    }
  }
  p { font-size: 1.4rem;
    @media (min-width: 576px) and (max-width: 767px) {
      font-size: 1.3rem;
    }
    @media (max-width: 575px) {
      font-size: 1.2rem;
    }
  }
  .card {
    .card-text { font-size: 1.1rem; }
  }
}
article.our-team {
  .col-12.col-sm-6:nth-child(2) {
    border-width: 3px;
    border-style: solid;
    -webkit-border-image: -webkit-linear-gradient( to bottom, $sky-blue, $white ) 0 100%;
    -moz-border-image: -moz-linear-gradient( to bottom, $sky-blue, $white ) 0 100%;
    -o-border-image: -o-linear-gradient( to bottom, $sky-blue, $white ) 0 100%;
    -ms-border-image: -ms-linear-gradient( to bottom, $sky-blue, $white ) 0 100%;
    border-image: linear-gradient( to bottom, $sky-blue, $white ) 0 100%;
    @media (max-width: 767px) {
      border: none
    }
  }
  .team-item {
    .team-member-image {
      width: 200px;
      height: 200px;
      background: linear-gradient( to bottom, $white, $sea-blue);
      padding: 5px;
      border-radius: 50%;
      @media (min-width: 576px) and (max-width: 767px) {
        width: 170px;
        height: 170px;
      }
      @media (max-width: 575px) {
        width: 150px;
        height: 150px;
      }
    }
    h2 { color: $sea-blue; font-weight: 400;
      @media (max-width: 991px) {
        font-size: 1.7rem;
        margin-top: 1rem;
      }
      @media (min-width: 576px) and (max-width: 767px) {
        font-size: 1.6rem;
      }
      @media (max-width: 575px) {
        font-size: 1.5rem;
      }
    }
    h4 {
      @media (max-width: 991px) {
        font-size: 1.3rem;
      }
      @media (min-width: 576px) and (max-width: 767px) {
        font-size: 1.2rem;
      }
      @media (max-width: 575px) {
        font-size: 1rem;
      }
    }
  }
}
article.our-projects {
  padding: 50px 0;
  .project-content {
    &:not(:last-child) {
      margin-bottom: 8rem;
    }
    h3 {
      a {
        color: #333;
        text-decoration: none;
        @include animate( all, .5s );
        &:hover { color: $sea-blue; }
      }
      @media (max-width: 575px) {
        font-size: 1.8rem;
      }
    }
    h5 {
      border-width: 4px;
      border-style: solid;
      width: max-content;
      padding: 10px 15px;
      a {
        color: $black;
        text-decoration: none;
        &:hover {
          color: $sea-blue;
        }
      }
      @media (min-width: 576px) and (max-width: 767px) {
        font-size: 1.1rem;
      }
      @media (max-width: 575px) {
        font-size: 1rem;
        padding: 5px 10px;
      }
    }
    p { font-size: 1.7rem; font-weight: 400;
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 1.6rem;
      }
      @media (min-width: 576px) and (max-width: 767px) {
        font-size: 1.4rem;
      }
      @media (max-width: 575px) {
        font-size: 1.2rem;
      }
    }
  }
}


/*
  Blog
  --------------------------------
*/
.content-area {
  .blog-main {
    .entry-header {
      img { width: 100%; }
    }
    .entry-content {
      .entry-title {
        &:hover {
          a {
            text-decoration: none;
            color: $sea-blue;
          }
        }
        @media (min-width: 768px) and (max-width: 991px) {
          font-size: 1.8rem;
        }
        @media (min-width: 576px) and (max-width: 767px) {
          font-size: 1.7rem;
        }
        @media (max-width: 575px) {
          font-size: 1.6rem;
        }
      }
      a {
        color: $black;
        .category-box {
          border-width: 1px;
          border-style: solid;
          padding: .5rem 1rem;
          display: inline-block;
          margin-right: 1rem;
          @include animate( all, .5s );
          @media (min-width: 768px) and (max-width: 991px) {
            font-size: 1.6vw;
            padding: 0.4rem 0.8rem;
          }
          @media (min-width: 576px) and (max-width: 767px) {
            font-size: 2vw;
            padding: 0.4rem 0.8rem;
          }
          @media (max-width: 575px) {
            font-size: 0.8rem;
            padding: 0.4rem 0.8rem;
          }
        }
        &:hover .category-box.border-green-blue {
          background: $green-blue;
          color: $white;
        }
        &:hover .category-box.border-bing {
          background: $bing;
          color: $white;
        }
      }
      .time-parent-box {
        @media (min-width: 768px) and (max-width: 991px) {
          font-size: 1.7vw;
        }
        @media (min-width: 576px) and (max-width: 767px) {
          font-size: 2vw;
        }
        @media (max-width: 575px) {
          font-size: 0.7rem;
        }
      }
    }

    .blog-sidebar {
      .sidebar-newsletter {
        border: 3px solid $bright-green;
        .sidebar-newsletter-logo {
          display: flex;
          width: 40%;
          height: 75px;
          @media (min-width: 768px) and (max-width: 991px) {
            width: 60%;
            height: 60px;
          }
          @media (max-width: 767px) {
            width: 50%;
            height: 60px;
          }
        }
        h3.h2 {
          @media (min-width: 768px) and (max-width: 991px) {
            font-size: 1.8rem;
          }
          @media (min-width: 576px) and (max-width: 767px) {
            font-size: 1.7rem;
          }
          @media (max-width: 575px) {
            font-size: 1.6rem;
          }
        }
        p.lead {
          @media (min-width: 768px) and (max-width: 991px) {
            font-size: 1.1rem;
          }
          @media (max-width: 767px) {
            font-size: 1rem;
          }
        }
        .widget-content {
          input[type="email"] {
            width: 65%;
            padding: 1.4rem;
            outline: none;
            border-top: 1px solid;
            @media (min-width: 768px) and (max-width: 991px) {
              padding: 1rem;
            }
            @media (min-width: 576px) and (max-width: 767px) {
              padding: 0.9rem;
            }
            @media (max-width: 575px) {
              padding: 0.7rem;
            }
          }
          input[type="submit"] {
            width: 35%;
            color: $white;
            //font-size: 1.1rem;
            background-color: $sea-blue;
            border-bottom: 1px solid #002e74;
            outline: none;
            cursor: pointer;
            @include animate(all, .5s);
            &:hover {
              background-color: $blue;
            }
            @media (min-width: 768px) and (max-width: 991px) {
              font-size: 0.8rem;
            }
          }
        }
      }
      .sidebar-best-read-blog {
        h4 {
          a { color: $black; text-decoration: none;
            &:hover { color: $sea-blue; }
          }
          @media (min-width: 768px) and (max-width: 991px) {
            font-size: 1.4rem;
          }
        }
        span {
          @media (min-width: 768px) and (max-width: 991px) {
            font-size: 1.9vw;
          }
        }
      }
    }
  }
}



/*
   Our Work
  -----------------------------------------
*/
.our-work {
  article { padding: 25px 0; }
  &.background-canvas {
    &:after {
      @media (min-width: 576px) and (max-width: 991px) {
        top: 10%;
        right: 0;
        width: 75vw;
      }
      @media (max-width: 575px) {
        top: 0;
        right: 0;
        width: 90vw;
      }
    }
  }
  .our-work-icon {
    i.fa-bars { color: $bing; }
  }
  .our-work-filter-slick {
    @media (max-width: 575px) {
      padding-right: 0;
    }
    .service-box {
      margin-left: 2px;
      margin-right: 2px;
      h4 {
        @media (min-width: 768px) and (max-width: 991px) {
          font-size: 1.3rem;
        }
        @media (min-width: 576px) and (max-width: 767px) {
          font-size: 1.2rem;
        }
        @media (max-width: 575px) {
          font-size: .8rem;
          margin-top: .2rem;
        }
      }
      a { color: $black; text-decoration: none; outline: none; @include animate( all, .5s ); }
    }
  }
  .entry-content {
    .card-button {
      position: relative;
      margin-left: 10%;
      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        background: url("../images/icons/Header-Left.png") center center no-repeat;
        @include backgroundSize( contain );
        width: 36%;
        height: 50px;
        top: -5px;
        left: -50px;
      }
      &:hover { text-decoration: none; }
      @media (max-width: 575px) {
        margin-left: 17%;
      }
    }
  }
}



/*
   Services Page
  -----------------------------------------
*/
.services-page {
  article { padding-top: 0; padding-bottom: 20px; }
  .service-box h4 {
    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 2.3vw;
    }
  }
  .service-tax-content {
    .service-content-img {
      width: 35%;
    }
    .whatsapp-contact {
      padding: .4rem 1rem;
      background: $bright-green;
      color: $white;
      margin-left: auto;
      margin-right: auto;
      margin-top: .5rem;
      display: inline-block;
      cursor: pointer;
      &:hover {
        background: $green;
        color: $white;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        width: 100%;
      }
      @media (min-width: 576px) and (max-width: 767px) {
        width: 100%;
      }
      @media (max-width: 575px) {
        font-size: 0.7rem;
      }
    }
    p {
      font-size: 1.4rem;
      line-height: 1.7;
      text-align: justify;
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 2.5vw;
      }
      @media (max-width: 575px) {
        font-size: 1rem;
      }
    }
  }
  .sidebar-best-read-blog {
    h4 {
      a { color: $black; text-decoration: none;
        &:hover { color: $sea-blue; }
      }
    }
  }
  .service-project-blog {
    img { width: 100%; }
    .entry-content .card-button {
      margin-left: 8%;
      @media (min-width: 576px) and (max-width: 767px) {
        margin-left: 9%;
      }
      @media (max-width: 575px) {
        margin-left: 25%;
      }
    }
  }
}



/*
   Single Post
  -----------------------------------------
*/
.blog-main {
  padding-bottom: 50px;
  .single-post {
    position: relative;
    background: #f8f9fa
  }
  .single-post .post-edit-link {
    position: absolute;
    top: 0;
    right: 0; /*Need Change In Rtl*/
    padding: 8px;
    background-color: #eee;
    border-radius: 0 0 0 5px; /*Need Change In Rtl*/
  }
  .single-post h2 a {
    text-decoration: none;
    color: #45a9b7;
    letter-spacing: 1px
  }
  .single-post h2:hover a {
    color: $orange
  }
  .single-post .single-post-detail {
    color: #394240;
    font-size: 14px
  }
  .single-post .single-post-img {
    height: 400px;
    text-align: center
  }
  .single-post .single-post-img img {
    max-height: 400px;
  }
  .single-post hr {
    width: 25%
  }
  .single-post .post-content,
  .single-post .post-categories {
    color: #394240
  }
  .single-post .post-categories,
  .our-posts .custom-post .post-categories {
    /* background: #eee; */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $orange;
  }
  .random-post .post-author-title {
    background: #45a9b7;
    padding: 5px 10px;
    color: $white;
    border-radius: 5px
  }
  .random-post .post-author-random-posts {
    font-size: 18px;
    border: 1px solid #eee;
    border-radius: 5px
  }
  .author-box {
    background-color: $white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px
  }
  .author-box h5 {
    display: inline-block;
    color: #555;
  }
  .author-box .author-nickname {
    color: #45a9b7;
    font-weight: 600
  }
  .author-box p {
    color: #777;
    font-size: 13px;
  }
  .author-box .author-status {
    font-size: 14px;
    color: #777;
  }
  .author-box .posts-count {
    color: $orange;
    font-weight: 600
  }
}
@media (max-width: 992px) {
  .author-box h5 {
    margin-left: 15px
  }
}
@media (max-width: 500px) {
  .author-box h5 {
    font-size: 13px;
  }
}
/* ---- End Single Post Page ---- */



/*
  Archive
  ---------------------------------------
 */
.post-archive {
  .archive-header h1 {
    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 2.3rem;
    }
    @media (min-width: 576px) and (max-width: 767px) {
      font-size: 2rem;
    }
    @media (max-width: 575px) {
      font-size: 1.5rem;
    }
  }
  .category-box:hover {
    color: $green;
  }
}


/* ---- Start Comments List ---- */
h4.comment-number {
  background-color: #d8d8d8;
  font-size: 14px;
  color: #968e8e;
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 15px;
}
.comments-list ul,
.comments-list ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.comments-list .comment img {
  background-color: $white;
  border: 1px solid #eee;
  padding: 2px;
}
.comments-list .comment .says {
  display: none;
}
.comments-list .comment .comment-meta a {
  color: #777;
  font-size: 13px
}
.comments-list .comment p {
  color: #444;
  font-size: 14px;
  margin-bottom: 5px
}
.comments-list .reply {
  font-size: 14px;
}
.comments-list > .comment { /*Level One For Directe Child*/
  background-color: $white;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
}
.comments-list > .comment > .children > .comment {
  background-color: #eee;
  padding: 15px;
  margin: 10px;
  border: 1px solid #ddd;
}
.comments-list > .comment > .children > .comment > .children .comment {
  background-color: #ddd;
  padding: 15px;
  margin: 10px;
  border: 1px solid #aaa;
}
.comments-list .bypostauthor {
  position: relative;
}
.comments-list .bypostauthor:after {
  content: 'Author';
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #e6e6e6;
}
.comment-respond {
  width: 100%;
  background: $white;
  border: 1px solid #ccc;
  padding: 15px 20px;
}
.comment-respond h3 {
  text-align: center;
  color: #aaa;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 4px;
}
.comment-respond form {
  width: 50%;
  margin: auto;
}
.comment-respond label {
  display: block;
  margin-bottom: 0.2rem;
}
.comment-respond p {
  margin: 0 0 5px;
  color: #666;
}
.comment-respond input,
.comment-respond textarea {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px;
  color: #777;
}
.comment-respond textarea {
  height: 150px;
  resize: none
}
.comment-respond #wp-comment-cookies-consent,
.comment-respond #wp-comment-cookies-consent + label {
  display: inline-block !important
}
.comment-respond #wp-comment-cookies-consent {
  width: 10%;
  position: relative;
  top: -10px
}
.comment-respond #wp-comment-cookies-consent + label {
  width: 88%;
}
.comment-respond input[type="submit"] {
  background-color: #007bff;
  color: $white;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .comment-respond form {
    width: 100%;
  }
}
/* ---- End Comments List ---- */




/*
   footer
  -----------------------------------------
*/
footer {
  padding: 50px 0;
  h6 { text-transform: uppercase; color: $grey; letter-spacing: .1rem; }
  .footer-info {
    & > div {
      @media (max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
      }
    }
    .social-icon {
      display: block;
      color: $sea-blue;
    }
  }
  .facebook-icon:hover,
  .linkedin-icon:hover,
  .slack-icon:hover,
  .twitter-icon:hover {
    @include animate( all, .3s );
    width: fit-content;
    padding: .2rem;
    background: $green;
    color: $white;
    border-radius: 50%;
  }

  .footer-nav-item {
    color: #222;
    &:hover { color: $green; }
  }
  .footer-contact {
    h3 { color: $sea-blue;
      @media (min-width: 576px) and (max-width: 767px) {
        font-size: 1.5rem;
      }
      @media (max-width: 575px) {
        font-size: 1.3rem;
      }
    }
  }

  .yes-user-contact-form {
    .form-control-msg {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 10px;
    }

    &.has-error {
      &:before {
        background-color: #a94442;
      }
    }
    .btn-custom {
      width: 100%;
      height: 90%;
      background-color: $sea-blue;
      color: $white;
      text-transform: uppercase;
      cursor: pointer;
      padding: 0;
    }
  }


  .footer-input-control {
    position: relative;
    background: $bright-grey;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 8px 15px;
    outline: none;
    font-weight: 500;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    &:hover, &:focus, &:active {
      box-shadow: none;
    }
    &:after {
      content: '';
      display: inline-block;
      position: absolute;

    }
  }
  textarea.footer-input-control { width: 100%; }
  .form-control-msg { display: none; }
  .has-error {
    .form-control-msg { display: block; }
  }
  .js-show-feedback { display: block; }
}



/* Start about us */
.about-us {
  padding:  12% 0 50px;
}
.about-us-content {
  padding: 4%;
}
.about-us-img {
  margin: auto;
  width  : auto;
}
.about-us-title {
  color: $sea-blue; ;
  font-style: italic;
  font-size: 50px;
}
.about-us-content-sec {
  padding: 3%;
}
/* end about us */
