/*
    GENERAL STYLE FOR THEME
  --------------------------------
*/

body {
  background-color: $bright-grey;
}

.img-responsive {
  width: 100%;
  height: 100%;
}

.bg-bright-green {
  background-color: $bright-green;
}

.bg-bright-yellow {
  background-color: $bright-yellow;
}

.bg-orange {
  background-color: $orange;
}

.bg-grey-border {
  background-color: $grey-border;
}

.bg-bing {
  background-color: $bing;
}

.bg-sky-blue {
  background-color: $sky-blue;
}

.bg-green-blue {
  background-color: $green-blue;
}

.bg-red {
  background-color: $red;
}

.bg-sea-blue {
  background-color: $sea-blue;
}

.bg-green {
  background-color: $green;
}

.bg-grey {
  background-color: $grey;
}

.border-bright-green {
  border-color: $bright-green;
}

.border-bright-yellow {
  border-color: $bright-yellow;
}

.border-orange {
  border-color: $orange;
}

.border-grey-border {
  border-color: $grey-border;
}

.border-bing {
  border-color: $bing;
}

.border-sky-blue {
  border-color: $sky-blue;
}

.border-red {
  border-color: $red;
}

.border-green-blue {
  border-color: $green-blue;
}

.border-sea-blue {
  border-color: $sea-blue;
}

.border-green {
  border-color: $green;
}

.border-grey {
  border-color: $grey;
}

