/*
    GENERAL STYLE FOR THEME
  --------------------------------
*/

body {
  background-color: $white;
}

.img-responsive {
  width: 100%;
  height: 100%;
}

.service-box {
  border-width: 3px;
  border-style: solid;
}

.card-button {
  border: 1px solid $bright-grey;
  display: inline-block;
  color: $bright-blue;
  font-size: 1.2rem;
}

.bg-bright-blue {
  background-color: $bright-blue;
}

.bg-bright-yellow {
  background-color: $bright-yellow;
}

.bg-orange {
  background-color: $orange;
}

.bg-bright-grey {
  background-color: $bright-grey;
}

.bg-grey {
  background-color: $bright-grey;
}

.text-app-health-ar,
.text-app-language-ar {
  color: $bright-blue;
}

.text-app-games-ar {
  color: $bright-yellow;
}

.text-app-chat-ar {
  color: $orange;
}

.text-app-kids-ar,
.text-app-work-ar {
  color: $grey;
}

.border-bright-blue,
.border-app-health-ar {
  border-color: $bright-blue;
}

.border-bright-yellow,
.border-app-games-ar {
  border-color: $bright-yellow;
}

.border-orange,
.border-app-chat-ar {
  border-color: $orange;
}

.border-grey-border,
.border-app-kids-ar {
  border-color: $white;
}

.border-app-language {
  border-color: $bright-blue;
}

.border-app-work-ar {
  border-color: $white;
}


/*Pagination Section*/
.site-main {
  .pagination_number span,
  .pagination_number a {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    background: $bright-grey;
  }
  .pagination_number a {
    color: $bright-blue;
  }
  .pagination_number span {
    color: #394240
  }
  .pagination_number a:hover {
    text-decoration: none;
    color: $orange
  }
}
/*End Pagination Section*/
