/*
    MIXIN FUNCTION FOR SASS FILE
  --------------------------------------------
*/

@mixin animate ( $attr, $time ) {
  -webkit-transition: $attr $time ease;
  -moz-transition: $attr $time ease;
  -ms-transition: $attr $time ease;
  -o-transition: $attr $time ease;
  transition: $attr $time ease;
}

@mixin backgroundSize( $size ) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size
}
