/*
    VARIABLE FOR SASS FILE
  -------------------------------------
*/

$bright-green: #00ff47;
$bright-yellow: #ccff00;
$orange: #ffa901;
$bright-grey: #f2f2f2;
$grey-border: #988c8c;
$bing: #ff0099;
$sky-blue: #00f0ff;
$red: #ff0000;
$green-blue: #00ffc2;
$sea-blue: #002e74;
$blue: #6c5ce7;
$green: #14c97b;
$grey: #a2a8b1;
$white: #fff;
$black: #000;
