/*
    VARIABLE FOR SASS FILE
  -------------------------------------
*/

$bright-blue: #3FA9F5;
$bright-yellow: #ccff00;
$orange: #ffa901;
$green: #14c97b;
$bright-green: #00ff47;
$bright-grey: #f2f2f2;
$grey: #707070;
$white: #fff;
$black: #000;
